<div class='row'>
    <div class="col s12 m4 offset-m4">
        <div class="card hoverable">
            <div class="card-content center">
                <span class="card-title">{{ 'login.title' | translate }}</span>
                <p><em>{{message}}</em></p>
            </div>
            <form #loginForm="ngForm" class="card-content center">
                <div>
                    <label for="name">{{ 'input.name' | translate }}</label>
                    <input type="text" id="name" [(ngModel)]="name" name="name" required>
                </div>
                <div>
                    <label for="password">{{ 'input.password' | translate }}</label>
                    <input type="password" id="password" [(ngModel)]="password" name="password" required>
                </div>
            </form>
            <div class="card-action center">
                <a (click)="login()" class="waves-effect waves-light btn" *ngIf="!authService.isLoggedIn">{{ 'button.login' | translate }}</a>
                <a (click)="logout()" *ngIf="authService.isLoggedIn">Se déconnecter</a>
            </div>
        </div>
    </div>
</div>