<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo">{{ 'login.title' | translate }}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngIf="authService.isLoggedIn"><a routerLink="/pokemon/all">{{ 'links.list' | translate }}</a></li>
            <li *ngIf="authService.isLoggedIn"><a (click)="logout()">{{ 'links.logout' | translate }}</a></li>
            <li><a (click)="useLanguage('en')" class="waves-effect waves-light btn">EN</a></li>
            <li><a (click)="useLanguage('fr')" class="waves-effect waves-light btn">FR</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>