<h1 class='center'>{{ 'pokemonList.title' | translate }}</h1>
<div class='container'>
    <div class="row">
        <app-search-pokemon></app-search-pokemon>
        <div *ngFor='let pokemon of pokemons' class="col s6 m4">
            <div class="card horizontal" (click)="selectPokemon(pokemon)" appBorderCard>
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name }}</p>
                        <p><small>{{ pokemon.created | date:"dd/MM/yyyy" }}</small></p>
                        <span *ngFor='let type of pokemon.types' class="{{ type | pokemonTypeColor }}">{{ type }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 *ngIf="!pokemons" class="center">
    <app-loader></app-loader>
</h4>

<!-- Button to add pokemon -->
<a class="btn-floating btn-large waves-effect waves-light red z-depth-3" style="position: fixed; bottom: 25px; right: 25px;" routerLink="/pokemon/add" href>
    <strong>+</strong>
</a>