<div class='center'>
    <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/035.png" />
    <h1>Hey, cette page n'existe pas !</h1>
    <a (click)="goToHome()" class="waves-effect waves-teal btn">
      Retourner à l' accueil
    </a>
</div>