<div *ngIf="pokemon">
    <h2 class="header center">Editer {{pokemon?.name}}</h2>
    <p class="center">
        <img [src]="pokemon?.picture" />
    </p>
    <app-pokemon-form [pokemon]="pokemon"></app-pokemon-form>
</div>
<h4 *ngIf="!pokemon" class="center">
    <app-loader></app-loader>
</h4>